.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container h3 {
  margin-bottom: 0;
}

.reco_container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.all_container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
}
