.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchbar_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #646464;
  color: #646464;
  background-color: transparent;
}

.searchbar_container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: #434343;
  color: white;
  cursor: pointer;
}
